<div class="container">

    <div class="row">

        <div class="col">
            <label>Name</label>
            <input type="text" #name1="ngModel" [(ngModel)]="name" class="form-control">
            <p>{{name}}</p>
            
            <label>type</label>
            <input type="text" #name2="ngModel" [(ngModel)]="type" class="form-control">
            <p>{{type}}</p>
            
            <label>price</label>
            <input type="text" #name3="ngModel" [(ngModel)]="price" class="form-control">
            <p>{{price}}</p>
            
            <label>time</label>
            <input type="text" #name4="ngModel" [(ngModel)]="time" class="form-control">
            <p>{{time}}</p>
            <button class="btn btn-block btn-primary" (click)="newMenuItem()">New Dish</button>
        </div>

        
        <div class="col">
            <label>table</label>
            <input type="text" #name5="ngModel" [(ngModel)]="tableCode" class="form-control">
            <p>{{tableCode}}</p>
            
            <label>n seats</label>
            <input type="text" #name6="ngModel" [(ngModel)]="seats" class="form-control">
            <p>{{seats}}</p>
            <button class="btn btn-block btn-primary" (click)="newTable()">New Table</button>
        </div>

    </div>


</div>
